/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.12.2013, 01:17:52
    Author     : fetzc_000
*/

.page-header  {
    margin-top: 100px;
}

.minsize {
    height: 250px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/*.crazy {
    background-color: #ff8800;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.crazy:hover {
    background-color: #0088ff;
    text-align: right;
}*/

.mad {
    
}

.mad:hover {
    text-align: left;
}

table {
                margin-top: 100px;
                position: relative;
                width: 80%;
                margin-left: 10%;
            }
            td, th {
                text-align: left;
            }
            hr {
                width: 90%;
                float: left;
                color: #3071a9;
            }
            hr:after {
                clear: both;
            }
            .einzug {
                width: 80%;
                margin-top: 50px;
                margin-left: 10%;
            }
            .addinfo {
                width: 25%;
            }
            .elem {
                width: 15%;
            }
            .blau {
                color: #3071a9;
                margin-top: 50px;
            }
            .impressum, .impressum a {
                margin-top: 0px;
                text-align: right;
                color: #428BCA;
                text-decoration: none;
            }
            .impressum:after {
                clear: both;
            }
